.login-parent {
  display: flex;
  justify-content: center;
}

.login-card {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  padding: 50px;
  margin-top: 200px;
  border-radius: 10px;
  box-shadow: 5px 10px 10px 5px rgb(65, 70, 65);
}

.login-card > form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
} 

.login-card > form > input {
  box-sizing: border-box;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  border-color: rgb(15, 15, 15);
}

.login-card > form > p {
  box-sizing: border-box;
  height: 20px;
  margin: 0px;
  font-size: 14px;
  color: red;
}

.login-card > form > input:hover {
  border-color: rgb(65, 70, 65);
}

input[type="submit"] {
  background-color: rgb(15, 15, 15);
  border-width: 0px;
  color: white;
}

input[type="submit"]:hover {
  background-color: rgb(65, 70, 65);
}

.dashboard-parent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.employee-card > p > span {
  font-weight: bold;
}